@model IEnumerable<Web3Grupo2.Models.Persona>

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                    @using (Html.BeginForm("Delete", "Ejemplo", FormMethod.Post))
                    {
                        @Html.Hidden("id", item.Id)
                        <button type="submit" class="btn btn-danger">x</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
